main{
    max-width: 1100px;
    margin: 0px auto;
}
#page_location{
    padding-top: 145px;
    font-size: 14px;
    color: gray;
    margin-bottom: 40px;
}
#page_location a{
    text-decoration: none;
    color: #13918b;
    font-weight: 700;
}
#loaded_cart_page{
    /* border: 1px solid; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#lhs_cart_div{
    width: 59%;
    /* border: 1px solid; */
}
#lhs_cart_div #lhs_cart_in_1{
    border: 1px solid rgb(210, 210, 210);
    border-radius: 12px;
    width: 100%;
    display: flex;
}
#lhs_cart_in_1{
    padding: 20px;
    font-size: 23px;
    color: rgb(71, 71, 71);
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
}
#lhs_cart_div #added_item_display{
    display: flex;
    flex-direction: column;
    border: none;
}
.color_diff{
    color: #13918b;
    font-size: 15px;
    font-weight: 600;
}
#added_item_display #divv{
    padding: 20px 25px;
    width: 100%;
    height: 150px;
    border-radius: 12px;
    line-height: 1.7rem;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#added_item_display img{
    width: 130px;
    border-radius: 8px;
}
#added_item_display #divv div{
    display: block;
    margin: 5px 15px;
    border: none;
    box-shadow: none;
}
#added_item_display #descrip{
    height: 55px;
    overflow: hidden;
}
#added_item_display div button{
    /* display: block; */
    font-size: 13px;
    padding: 4px;
    border-radius: 5px;
    background-color: rgb(255, 81, 81);
    color: white;
    border: 1px solid rgb(168, 168, 168);
}
#rhs_cart_div{
    /* border: 1px solid; */
    width: 38%;
}
#rhs_1{
    border: 1px solid rgb(168, 168, 168);
    border-radius: 12px;
}
#st1_rhs{
    border-bottom: 1px solid rgb(168, 168, 168);
    padding: 25px 25px;
    font-size: 18px;
    font-weight: 600;
}
#rhs_{
    padding: 25px 25px;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#rhs_ #zzz{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #13918b;
}
#rhs_ button{
    padding: 10px;
    margin-left: 100px;
    border-radius: 8px;
    background-color: #13918b;
    color: white;
    border: 1px solid white;
}