#full_login_page{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.667);
    display: flex;
    justify-content: end;
    z-index: 2;
    position: fixed;
}
#login_page{

    position: fixed;
    width: 35%;
    height: 100%;
    background-color: white;
}
#login_page_logo{
    background-color: #10847E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 116px;
    padding: 10px 30px;
}
#login_page_logo #im_1{
    width: 190px;
}
#login_page_logo #im_2{
    width: 140px;
    margin-top: 20px;
}
#login_page_logo #closeBtn{
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    z-index: 4;
    width: 30px;
    margin-right: -25px;
}
#login_page_last{
    padding: 25px 40px;
    display: flex;
    flex-direction: column;
}
#login_page_last h4{
    color: #4f585e;
    font-weight: 800;
    margin-bottom: 30px;
}
#login_page_last input{
    width: 100%;
    font-size: 16px;
    padding: 12px 15px;
    border: 1px solid rgb(114, 114, 114);
    border-radius: 8px;
    margin-bottom: 15px;
    outline: none;
    background-color: transparent;
}
#login_page_last button{
    height: 40px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 700;
    background-color: #10847E;
    font-size: 17px;
    margin-bottom: 17px;
}
#login_page_last p{
    font-size: 14px;
    color: gray;
}
#login_page_last p a{
    text-decoration: none;
    color: #10847E;
    font-weight: 700;
}
#health_list{
    background-color: rgb(255, 255, 255);
    width: 90%;
    margin-left: 40px;
    padding-left: 20px;
    z-index: 0.8;
    position: fixed;
    height: 60vh;
    padding-top: 130px;
    display: flex;
}
#health_list_1{
    width: 30%;
    height: 100%;
    background-color: rgb(245, 248, 252);
}
#health_list_2{
    width: 69%;
    background-color: white;
}
#health_list ul{
    display: flex;
    flex-direction: column;
}
#health_list ul li{
    list-style: none;
    color: rgb(90, 87, 87);
    padding: 8px 10px;
    font-size: 14px;
}