*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}
/* nav{
    position: fixed;
} */
#nav_main_div{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom:1px solid rgb(204, 199, 199);
    width: 100%;
    margin: auto;
}
#nav_main_first svg{
    margin-left: 20px;
}
#nav_main_first{
    display: flex;
}
#nav_main_first .c-cZuCZG{
    margin: 0px 16px;
    color: rgb(136, 134, 134);
    
}
#nav_main_first #delivery{
    font-weight: 100;
    color: rgb(136, 134, 134);
    margin-bottom: 5px;
    font-size: 13px;
}
#nav_main_first #pin{
    color: rgb(77, 77, 77);
    margin-top: 6px;
    font-size: 15px;
    cursor: pointer;
}
#nav_main_second{
    display: flex;
}
#dwnlBtn{
    display: flex;
    width: 145px;
    padding: 0px 10px;
    background-color: rgb(215, 234, 242);
    border-radius: 7px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
#dwnlBtn:hover{
    background-color: rgb(161, 214, 236);
}
#dwnlBtn p{
    font-size: 14px;
    color: rgb(90, 87, 87);
}

#nav_main_second #loc{
    display: flex;
    align-items: center;
    width: 350px;
    justify-content: space-evenly;
}
#nav_main_second svg{
    width: 23px;
    fill: none;
}
#loc a{
    text-decoration: none;
    display: flex;
    align-items: center;
}
#loc a p:hover{
    text-decoration:dashed;
}
#loc p{
    font-size: 14px;
    color: rgb(90, 87, 87);
    margin-left: 10px;
}
#nav_sub{
    padding: 13px;
    border-bottom:1px solid rgb(204, 199, 199);
    width: 100%;
    margin: auto;
}
#nav_sub div{
    width: 61%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#nav_sub div a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(90, 87, 87);
}
#nav_sub div a:hover{
    color: #15ACA5;
}
#top_section{
    padding-top: 55px;
    padding-bottom: 30px;
}
#top_section h2{
    font-weight: 700;
    color: rgb(93, 92, 92);
    margin-bottom: 10px;
}
.head_search{
    display: flex;
    width: 66%;
    margin: auto;
    justify-content: space-between;
}
#beforeSearch{
    font-weight: 400;
    color: rgb(93, 92, 92);
    font-size: 15px;
    display: flex;
    align-items: flex-end;
}
#top_section #beforeSearch a{
    font-weight: 600;
    color: rgb(93, 92, 92);
    margin-left: 7px;
    text-decoration: none;
    color: #10847E;
}
#top_section #search{
    border-radius: 29px;
    border: 1px solid rgb(178, 174, 174);
    margin-top: 15px;
    /* margin-bottom: 35px; */
    padding: 4px;
}
.head_search input{
    border: none;
    width: 80%;
    margin: auto;
}
#srBtn {
    border-radius: 30px;
    padding: 9px 15px;
    color: white;
    font-weight: 700;
    border: none;
    font-size: 16px;
    background-color: #10847E;
}
#category{
    display: flex;
    width: 95%;
    margin: 30px auto;
}
#category div{
    width: 12%;
    text-align: center;
}
#category div img{
    width: 80%;
    border-bottom: 1px solid rgb(165, 159, 159);
}
#category div .nam{
    font-size: 15px;
    font-weight: 600;
    color: rgb(93, 92, 92);
    margin: 10px 0px;
}
#category div .save{
    color: rgb(255, 86, 86);
    font-size: 13px;
    font-weight: 600;
}
/* #afterTT{
    margin-left: 37px;
} */
#afterTop{
    display: flex;
    width: 85%;
    margin-left: 28px;
}
#afterTop img{
    width: 48%;
    margin: 11px;
    border-radius: 15px;
}
#colorLine{
    width: 100px;
    border: 4px solid;
    margin-left: 40px;
    margin-top: 20px;
    color: #10847E;
    border-radius: 10px;
    margin-bottom: 50px;
}
#labTest{
    margin-left: 40px;
}
h1{
    color: rgb(61, 61, 61);
    font-weight: 600;
    font-size: 25px;
}
#labTest p{
    font-size: 16px;
    color: rgb(93, 92, 92);
    margin-top: 6px;
    margin-bottom: 20px;
}
#labTest p img{
    width: 105px;
    margin-left: 6px;
}
#labTest #testImg{
    display: flex;
    width: 97%;
    margin-left: -7px;
}
#labTest #testImg img{
    width: 200px;
    margin: 8px;
}
#ofr4u{
    margin-left: 40px;
}
#ofr4u div{
    display: flex;
}
#ofr4u .o4{
    display: flex;
    width: 330px;
    border: 1px solid;
    align-items: center;
    padding: 10px;
}
#ofr4u .o4 img{
    width: 45px;
    height: 45px;
    border-radius: 5px;
}