*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#nav_main_div{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 12px;
    border-bottom:1px solid rgb(204, 199, 199);
    width: 100%;
    margin: auto;
    position: fixed;
    z-index: 1;
    background-color: white;
}
#logo{
    cursor: pointer;
}
#nav_main_first svg{
    margin-left: 20px;
}
#nav_main_first{
    display: flex;
}
#nav_main_first .c-cZuCZG{
    margin: 0px 16px;
    color: rgb(136, 134, 134);
    
}
#nav_main_first #delivery{
    font-weight: 100;
    color: rgb(136, 134, 134);
    margin-bottom: 5px;
    font-size: 13px;
}
#nav_main_first #pin{
    color: rgb(77, 77, 77);
    margin-top: 6px;
    font-size: 15px;
    cursor: pointer;
}
#nav_main_second{
    display: flex;
}
#dwnlBtn{
    display: flex;
    width: 145px;
    padding: 0px 10px;
    background-color: rgb(215, 234, 242);
    border-radius: 7px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
#dwnlBtn:hover{
    background-color: rgb(161, 214, 236);
}
#dwnlBtn p{
    font-size: 14px;
    color: rgb(90, 87, 87);
}

#nav_main_second #loc{
    display: flex;
    align-items: center;
    width: 350px;
    justify-content: space-evenly;
}
#nav_main_second svg{
    width: 23px;
    fill: none;
}
#loc a{
    text-decoration: none;
    display: flex;
    align-items: center;
}
#loc p{
    font-size: 14px;
    color: rgb(90, 87, 87);
    margin-left: 10px;
}
#loc a p:hover{
    text-decoration:underline;
    color: #10847E;
}
#nav_sub{
    padding: 13px;
    box-sizing: border-box;
    border-bottom:1px solid rgb(204, 199, 199);
    width: 100%;
    margin: auto;
    margin-top: 70px;
    position:fixed;
    z-index: 1;
    background-color: white;
}
#nav_sub #nav_sub_2{
    width: 61%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#nav_sub div a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(90, 87, 87);
}
#nav_sub div a:hover{
    color: #15ACA5;
}
#top_section{
    padding-top: 165px;
    padding-bottom: 30px;
}
#top_section h2{
    font-weight: 700;
    color: rgb(93, 92, 92);
    margin-bottom: 10px;
}
.head_search{
    display: flex;
    width: 66%;
    margin: auto;
    justify-content: space-between;
}
#beforeSearch{
    font-weight: 400;
    color: rgb(93, 92, 92);
    font-size: 15px;
    display: flex;
    align-items: flex-end;
}
#top_section #beforeSearch a{
    font-weight: 600;
    color: rgb(93, 92, 92);
    margin-left: 7px;
    text-decoration: none;
    color: #10847E;
}
#top_section #search{
    border-radius: 29px;
    border: 1px solid rgb(209, 206, 206);
    margin-top: 15px;
    padding: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.head_search input{
    border: none;
    width: 85%;
    margin: auto;
    border: 0;
    outline: none;
    background: transparent;
    font-size: 18px;
    padding: 4px 10px;
}
#srBtn {
    border-radius: 30px;
    padding: 10px 14px;
    color: white;
    font-weight: 700;
    border: none;
    font-size: 16px;
    background-color: #10847E;
}
#category{
    display: flex;
    /* width: 95%; */
    margin-top: 34px;
    margin-left: 40px;
}
#category div{
    text-align: center;
    cursor: pointer;
    margin-right: 38px;
    padding: 15px 20px;
    border-radius: 10px;
    /* margin-bottom: 27px; */
}
#category div:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#category div img{
    width: 90px;
    border-bottom: 1px solid rgb(211, 206, 206);
}
#category div .nam{
    font-size: 15px;
    font-weight: 600;
    color: rgb(93, 92, 92);
    margin: 10px 0px;
}
#category div .save{
    color: rgb(255, 86, 86);
    font-size: 13px;
    font-weight: 600;
}
/* #afterTT{
    margin-left: 37px;
} */
#afterTop{
    display: flex;
    width: 85%;
    margin-left: 28px;
}
#afterTop img{
    width: 48%;
    margin: 11px;
    border-radius: 15px;
}
#colorLine{
    width: 100px;
    border: 4px solid;
    margin-left: 40px;
    margin-top: 20px;
    color: #10847E;
    border-radius: 12px;
    margin-bottom: 50px;
    background-color: #10847E;
}
#labTest{
    margin-left: 40px;
}
h1{
    color: #4f585e;
    font-weight: 600;
    font-size: 25px;
}
#labTest p{
    font-size: 16px;
    color: rgb(93, 92, 92);
    margin-top: 4px;
    margin-bottom: 20px;
}
#labTest p img{
    width: 105px;
    margin-left: 6px;
}
#labTest #testImg{
    display: flex;
    width: 97%;
    margin-left: -7px;
}
#labTest #testImg img{
    width: 185px;
    margin: 10px;
}
#ofr4u_main{
    margin-left: 40px;
    margin-top: 60px;
    overflow: hidden;
}
#ofr_main_ch{
    display: flex;
    box-sizing: border-box;
    margin-top: 30px;
    overflow: hidden;
}
#ofr4u_main .o4{
    box-sizing: border-box;
    display: flex;
    width: 340px;
    border: 1px solid rgb(210, 206, 206);
    padding: 18px;
    height: 80px;
    margin-right: 20px;
    background-color: rgb(247, 243, 243);
    border-radius: 7px;
    overflow: hidden;
}
.ofrP{
    font-size: 15px;
    margin-left: 15px;
    line-height: 1.5rem;
    color: rgb(67, 66, 66);
}
.ofrS{
    font-size: 14px;
    color: rgb(67, 66, 66);
}
#ofr4u_main .o4 img{
    width: 45px;
    height: 45px;
    border-radius: 5px;
}
#ofr4u_main .logIn_view_more{
    padding: 18px 65px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(137.11deg, rgb(245, 255, 254) -6.51%, rgb(184, 255, 251) 114.72%);
}
#ofr4u_main .o4:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .1s;
}
#pyOfr_main{
    margin-left: 39px;
    margin-top: 70px;
}
#py_txt{
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
}
#py_txt h4{
    margin-top: 10px;
    font-weight: 700;
    color: #10847E;
    margin-right: 20px;
}
#pyOfr_img{
    display: flex;
    cursor: pointer;
}
#pyOfr_img img{
    width: 410px;
    margin-right: 20px;
}
#order_w_pres{
    margin-top: 70px;
    margin-left: 40px;
    display: flex;
    width: 95%;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 10px;
}
#ordr_1{
    background-color: #EEF4FF;
    display: flex;
    width: 50%;
    padding: 35px;
}
#ordr_1 img{
    width: 100px;
    margin-right: 20px;
}
#ordr_1 div:nth-child(2){
    color: rgb(81, 80, 80);
    line-height: 2rem;

}
#ordr_1 h4{
    font-weight: 800;
}
#ordr_1 p{
    font-size: 15px;
}
#ordr_1 button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color: #10847E;
}
#shop_category_main{
    margin-left: 40px;
    margin-top: 75px;
}
#shop_category_flex{
    display: flex;
    margin-top: 40px;
}
#shop_category_flex div{
    cursor: pointer;
    text-align: center;
}
#shop_category_flex .category_flex_child{
    margin-right: 28px;
    
}
#shop_category_flex .category_img{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 33px 18px;
    border: 1px solid rgb(228, 226, 226);
    border-radius: 7px;
}
#shop_category_flex .category_img:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: .1s;
}
#shop_category_flex .category_img img{
    width: 110px;
}
#shop_category_flex p{
    font-size: 16px;
    margin-top: 18px;
    color: rgb(67, 66, 66);
    line-height: 1.4rem;
}
#new_launch_main{
    margin-left: 40px;
    margin-top: 70px;
}
#new_launch_main #launch_p{
    color: grey;
    margin-top: 10px;
}
#new_launch_flex{
    display: flex;
    margin-top: 40px;
}
#new_launch_flex .new_launch_cards{
    width: 14%;
    margin-right: 25px;
    line-height: 1.8rem;
}
#new_launch_flex .new_launch_img{
    border-radius: 7px;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(223, 220, 220);
}
#new_launch_flex .new_launch_img img{
    width: 80px;
    height: 100px;
}
#new_launch_flex .new_launch_cards .launch_name_p{
    color: rgb(73, 72, 72);
    font-weight: 600;
}
#new_launch_flex .new_launch_cards h4{
    color: gray;
}
#new_launch_flex .new_launch_cards h4 p{
    color: #F47779;
}
#plus_member_bnnr{
    margin-top: 70px;
    display: flex;
    width: 100%;
    padding-top: 30px;
    padding-left: 40px;
    background-image: linear-gradient(rgb(246, 64, 155), rgb(252, 35, 252));
}
#plus_member_bnnr .plus_flex{
    width: 350px;
    color: white;
    margin-right: 38px;
}
#plus_member_bnnr .plus_flex:nth-child(2){
    width: 550px;
    font-size: 15px;
    
}
#plus_member_bnnr .plus_flex:nth-child(2) div:nth-child(1){
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    height: 70%;
    line-height: 1.5rem;
    justify-content: space-between;
}
#plus_member_bnnr h3{
    font-size: 25px;
    margin-top: 10px;
}
#plus_member_bnnr h3+p{
    font-size: 17px;
    color: rgb(206, 206, 206);
    font-weight: 600;
    margin-top: 10px;
}
#plus_member_bnnr img{
    padding-left: 50px;
}
#plus_member_bnnr button{
    border-radius: 8px;
    padding: 13px 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    background-color: rgb(226, 163, 6);
    border: none;
    width: 160px;
    font-size: 16px;
    font-weight: 600;
}
#plus_member_bnnr button span{
    padding: 2px;
    background-color: white;
    border-radius: 45%;
    color: rgb(226, 163, 6);
    font-size: 11px;
}
#shop_by_con{
    margin-left: 40px;
    margin-top: 74px;
}
#shop_by_con #shop_by_con_flex{
    display: flex;
    margin-top: 40px;
}
#shop_by_con #shop_by_con_flex .shop_by_con_card{
    margin-right: 25px;
    cursor: pointer;
    line-height: 1.5rem;
    text-align: center;
    padding: 5px;
}
#shop_by_con #shop_by_con_flex .shop_by_con_img img{
    width: 89%;
}
#shop_by_con #shop_by_con_flex .shop_by_con_img img:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 50%;
}
#shop_by_con #shop_by_con_flex .shop_by_con_card h4{
    margin-top: 15px;
    color: gray;
}
#shop_by_con #con_p{
    color: grey;
    margin-top: 10px;
}
#frqnt_test{
    margin-left: 40px;
    margin-top: 75px;
}
#frqnt_test_flex{
    display: flex;
    margin-top: 40px;
}
#frqnt_test_flex .frqnt_test_card{
    line-height: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    margin-right: 25px;
    cursor: pointer;
    padding: 18px;
    color: rgb(90, 90, 90);
    border-radius: 8px;
}
#frqnt_test_flex .frqnt_test_card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#frqnt_test_flex .frqnt_test_card h2{
    margin-top: 50px;
}
#frqnt_test_flex .lb{
    background-color: #F1FAFE;
}
#frqnt_test_flex .ly{
    background-color: rgb(253, 247, 232);
}
#frqnt_test_flex .bk_red{
    background-color: #F47779;
    width: 80px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: white;
    padding: 4px 5px;
}
#frqnt_test_flex h2{
    color: rgb(63, 63, 63);
}
#fetured_brnds{
    margin-left: 40px;
    margin-top: 75px;
}
#fetured_brnds_flex{
    display: flex;
}
#f_b_p{
    margin-top: 10px;
    color: gray;
}
#fetured_brnds_flex .fetured_brnds_cards{
    margin-top: 40px;
    margin-right: 30px;
    text-align: center;
    cursor: pointer;
    text-align: center;
}
.fetured_brnds_img img{
    width: 180px;
    margin-bottom: 12px;
}
.fetured_brnds_img img:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
}
#img_ofr{
    margin-top: 75px;
    margin-left: 40px;
    display: flex;
}
#img_ofr img{
    width: 270px;
    margin-right: 23px;
    border-radius: 11px;
    cursor: pointer;
}
#image_ofr{
    margin-left: 40px;
    margin-top: 75px;
    display: flex;
}
#image_ofr img{
    width: 320px;
    height: 200px;
    margin-right: 25px;
    border-radius: 10px;
    cursor: pointer;
}
#why_us{
    margin-top: 65px;
    background-color: rgb(248, 249, 255);
    padding-left: 40px;
    padding-top: 28px;
}
#why_us_flex{
    display: flex;
    height: 200px;
}
#why_us .why_us_card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    line-height: 1.4rem;
    color: gray;
}
#why_us .why_us_card img{
    width: 120px;
}
#why_us .why_us_card h2{
    margin-bottom: 15px;
    color: rgb(75, 75, 75);
}
#why_us .why_us_card p{
    font-size: 16px;
}
#last_bnnr{
    display: flex;
    margin-top: 75px;
    background-color: rgb(215, 250, 248);
    position: relative;
}
#last_bnnr .big_pic{
    width: 100%;
}
#last_bnnr #last_bnnr_mid{
    /* width: 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    padding: 100px;
    text-align: center;
}
#last_bnnr_mid h1{
    font-size:44px;
    margin-bottom: 20px;
}
#last_bnnr_mid h2{
    color: rgb(101, 101, 101);
    margin-bottom: 20px;
}
#last_bnnr_ic img{
    margin-right: 20px;
}
#say_abt_us{
    margin-left: 40px;
    margin-top: 75px;
}
#say_abt_us_flex{
    display: flex;
    margin-top: 40px;
}
#say_abt_us_flex .say_abt_us_card{
    width: 580px;
    height: 580px;
    margin-right: 45px;
}
#say_abt_us_flex .say_abt_us_card p{
    margin-top: 8px;
    color: gray;
}
#say_abt_us_flex .say_abt_us_card h4{
    color: rgb(77, 77, 77);
}
#say_abt_us_flex .say_abt_us_card .quote{
    background-color: #F2FFF8;
    margin-top: 20px;
    padding: 30px;
    border: 1px solid rgb(215, 250, 248);
    width: 360px;
    height: 350px;
    border-radius: 11px;
    line-height: 1.8rem;
    font-size: 17px;
    color: gray;
}
#ex_i{
    margin-top: -145px;
    margin-left: 40px;
}
#ex_i .ex_i_ch{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0px;
    line-height: 1.6rem;
}
#ex_i span{
    font-weight: 600;
    color: rgb(74, 74, 74);
    font-size: 15px;
}
#ex_i a{
    text-decoration: none;
    color: gray;
    display: inline-flex;
    font-size: 15px;
}
#ex_i a:hover{
    color: #15ACA5;
}
#ex_i h4{
    color: rgb(61, 61, 61);
}#ex_i .ex_i_ch_ p{
    margin-top: 20px;
    margin-bottom: 30px;
    color: gray;
    line-height: 1.5rem;
    font-size: 15px;
}
footer{
    background-color: #EEF4FF;
    margin-top: 75px;
    padding: 80px 50px;
}
#ftr_flex{
    display: flex;
    justify-content: space-between;
}
#ftr_flex div{
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}
#ftr_flex .ftr_gap{
    margin-bottom: 27px;
}
#ftr_flex div a{
    text-decoration: none;
    color: gray;
    font-size: 14px;
    cursor: pointer;
}#ftr_flex div h4{
    font-size: 18px;
    color: rgb(73, 73, 73);
}
#ftr_flex #flw_us_on div{
    margin-top: 15px;
    display: flex;
    width: 190px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}
#ftr_flex #flw_us_on div img{
    width: 35px;
}
#pym_prtnr{
    margin-top: 35px;
}
#pym_prtnr span{
    color: rgb(69, 69, 69);
    font-weight: 600;
}
#end_flex{
    display: flex;
    justify-content: space-between;
}
#end_flex img{
    margin-right: 30px;
}
#end_flex span{
    font-size: 14px;
    color: rgb(95, 95, 95);
}
#pym_prtnr div{
    margin-top: 12px;
}
#gpay{
    width: 50px;
}
#paytm{
    width: 65px;
}
#phone{
    width: 25px;
}
#ama{
    width: 38px;
}
#mobi{
    width: 30px;
}
#m{
    width: 30px;
}
#RB{
    width: 30px;
}
#RY{
width: 30px;
}
#visa{
    width: 50px;
}
#rupay{
    width: 70px;
    
}